@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Nunito:wght@700&family=Sora:wght@400;600&display=swap');


:root {
    --cor-azul: #0F9AFE;
    --cor-fonte-primario: #293145;
    --cor-fonte-secundario: #6E7275;
    --cor-fundo: #EFF8FF;
    --cor-preto: #000000;
    --cor-branco: #fff;
    --cor-p-card-azul: #DBDBDB;
    --font-inter: 'Inter', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --font-sora: 'Sora', sans-serif;
    /* --bs-border-width: none; */
}

* {
   font-family: var(--font-inter);
}

/* .teste {
    padding-left: 135px !important;
    padding-right: 135px !important;
} */

.banner-1, .banner-3 {
    background-color: var(--cor-fundo);
}

.banner-1, .banner-4 {
    /* height: 100vh; */
}
.nav-link {
    color: var(--cor-fonte-secundario) !important;
}

.nav-link:focus, .nav-link:hover {
    color: var(--cor-fonte-primario) !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: black !important;
}

.navbar-flex {
    display: flex !important;
    justify-content: space-around !important;
}
h1, h2 {
    font-family: var(--font-sora);
    font-weight: 600;
}

h1 {
    font-size: 48px;
}

.ancora, .ancora-plano {
    background-color: #0F9AFE;
    color: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.teste {
    width: 100%;
}

.ancora {
    /* padding: 16px 36px; */
}

.ancora-plano {
    /* padding: 10px 70px; */
}

.recursos-div h5 {
    font-family: var(--font-sora);
    font-weight: 600;
}

.recursos-div p {
    color: var(--cor-fonte-secundario);
    /* width: 300px; */
    font-family: var(--font-inter);
}

.card-plan-white {
    background-color: var(--cor-fundo);
    border: none;
}

.card-plan-blue {
    background-color: var(--cor-fonte-primario);
}

.card-plan-blue h5, .card-plan-white h5 {
    font-family: var(--font-sora);
}

.card-plan-blue p {
    color: var(--cor-p-card-azul);
}

.card-plan-white p {
    color: var(--cor-fonte-secundario);
}

.span-destaque {
    background-color: #0F9AFE;
    color: var(--cor-branco);
    text-decoration: none;
    width: 50%;
    letter-spacing: 2px;
    font-size: 14px;
}

.banner-5 {
    background-image: url(assets/contato-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer h6 {
    color: var(--cor-fonte-primario);
    font-family: var(--font-sora);
    font-weight: 400;
}
